/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Asap:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #222;
}

header {
  text-align: center;
  padding: 1em;
  background-color: #42f54b;
}

.music-icon {
  font-size: 20px;
}

#title {
  font-family: Asap;
  margin-left: .5em;
  font-size: 2.5rem;
  color: midnightblue;
  font-weight: 700;
}

.para {
  margin-top: 0.6em;
  font-family: Montserrat;
  font-size: 1rem;
}

.spinner {
  font-size: 60px;
  display: none;
  color: #3bbf8f;
}

.container {
  margin: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type=text],
input[type=search] {
  border: none;
  border: 1px white solid;
  padding: .5em;
  margin: 10px;
  border-radius: 2em;
  background: none;
  color: whitesmoke;
  outline: none;
  font-family: Montserrat;
  width: 45%;
}

.btn-div {
  text-align: center;
}

.error {
  padding: .3em;
  font-family: sans-serif;
  background-color: red;
  text-align: center;
  color: #222;
  font-weight: 500;
  font-family: Asap;
}

button {
  text-align: center;
  padding: 7px 12px;
  font-family: Asap;
  font-weight: 500;
  border-radius: 10px;
  border: none;
  background-color: #3bbf8f;
  outline: none;
  cursor: pointer;
}

.resultTitle {
  display: none;
  margin: 1em;
  text-decoration: underline;
  font-family: Asap;
  color: cornflowerblue;
}

.output {
  text-align: center;
  margin-top: 1em;
  color: white;
  font-family: Montserrat;
  line-height: 1.8em;
  margin-bottom: 2em;
}

@media (min-width: 768px) {
  .container {
    flex-direction: row;
  }

  input[type=text],
  input[type=search] {
    width: 20%;
    padding: 10px;
  }
}

@media (min-width: 1024px) {
  #title {
    font-size: 3.5rem;
  }

  .para {
    font-size: 1.3rem;
  }

  input[type=text],
  input[type=search] {
    font-size: 20px;
    padding: 11px;
  }

  button {
    margin-top: 1em;
    font-size: 1.4rem;
  }
}

@media (min-width: 1100px) {

  input[type=text],
  input[type=search] {
    font-size: 15px;
    padding: 8px;
    width: 13%;
  }

  button {
    font-size: 1rem;
  }
}